.about {
  padding-top: 98px;
  padding-bottom: 98px;
  background-color: rgb(248, 248, 248);
}

.about__description-wrapper {
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about__description {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 24px;
  width: 556px;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about__list-item {
  text-align: center;
}

.about__list-item:hover .overlay {
  opacity: 1;
  visibility: visible;
}

.about__list-img {
  margin-bottom: 16px;
}

.about__list-name {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.about__list-position {
  font-family: $secondary-font;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.overlay {
  background-color: rgba(85, 85, 85, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  border: 10px solid rgba(255, 255, 255, 0.5);
  background-clip: padding-box;

  -webkit-transition: all 0.5s linear;

  -o-transition: all 0.5s linear;

  transition: all 0.5s linear;
}

.about__list-img-wrapper {
  position: relative;
}

.overlay__list {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overlay__list-item {
}

.overlay__list-link {
  display: block;
  width: 28px;
  height: 28px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.overlay__list-link:hover {
  background-color: rgb(192, 48, 28);
}

.facebook {
  background-image: url('../images/about/facebook.svg');
}

.twitter {
  background-image: url('../images/about/twitter.svg');
}

.google-plus {
  background-image: url('../images/about/google-plus.svg');
}

.linkedin {
  background-image: url('../images/about/linkedin.svg');
}

.about__slider-wrapper {
  position: relative;
}

.slider__btn-wrapper {
  position: absolute;
  width: 100%;
  top: 106px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.slider__btn {
  border: none;
  width: 35px;
  height: 38px;
  background-color: rgb(192, 48, 28);
  background-position: center;
  background-repeat: no-repeat;
}

.prev {
  background-image: url('../images/about/prev.svg');
}

.next {
  background-image: url('../images/about/next.svg');
}

.slider__btn-inactive {
  background-color: #8f8f8f;
}
