.contact {
  padding: 100px 0;

  &__content {
    @extend %align-hor-between;
  }

  &__list {
    width: 234px;
  }

  &__list-item {
    background-repeat: no-repeat;
    background-position: 0 6px;
    padding-left: 30px;

    &-title {
      font-size: 14px;
      font-weight: 600;
      line-height: 30px;
    }

    &:not(:last-child) {
      margin-bottom: 32px;
    }

    &-link {
      display: inline-block;
      font-family: 'Roboto Slab', serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      color: #555555;
    }

    &:first-child {
      background-image: url('../images/contact/geo.svg');
    }

    &:nth-child(2) {
      background-image: url('../images/contact/phone.svg');
    }

    &:last-child {
      background-image: url('../images/contact/email.svg');
    }
  }

  &__form {
    width: 730px;
    @extend %align-hor-between;
    flex-wrap: wrap;
    align-content: flex-start;

    &-input,
    &-message {
      font-family: 'Roboto Slab', serif;
      font-size: 12px;
      line-height: 20px;
      padding-left: 18px;
    }

    &-input::placeholder,
    &-message::placeholder {
      text-transform: uppercase;
    }

    &-input {
      flex-basis: 350px;
      margin-bottom: 22px;
      width: 348px;
      height: 42px;
      border: 1px solid rgb(85, 85, 85);
    }

    &-message {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      resize: none;
      height: 104px;
      margin-bottom: 22px;
      padding-top: 14px;
    }

    &-input:focus,
    &-message:focus {
      outline: none;
    }

    &-input:required:focus:valid,
    &-message:required:focus:valid {
      border: 1px solid green;
    }

    &-input:required:focus:invalid,
    &-message:required:focus:invalid {
      border: 1px solid red;
    }

    &-btn-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    &-btn {
      width: 168px;
      height: 42px;
      border: 1px solid rgb(85, 85, 85);
      font-family: 'Roboto Slab', serif;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.6px;
      text-transform: uppercase;
      margin-right: 38px;
    }

    &-btn-description {
      font-family: 'Roboto Slab', serif;
      font-size: 12px;
      line-height: 20px;

      &::before {
        content: '* ';
        color: $main-color;
      }
    }
  }
}
