:root {
  /* --main-text-color: rgb(192, 48, 28); */
  --secondary-font: "Roboto Slab", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #555;
  line-height: 1.2;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

/* HEADER */
.header {
  background-image: url("../images/header/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 34px;
  padding-bottom: 260px;
}

.logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
  float: left;
}

.navigation {
  font-size: 0;
  margin-bottom: 254px;
}

.navigation__list {
  float: right;
  margin-top: 6px;
}

.navigation__list-item {
  float: left;
}

.navigation__list-item:not(:last-child) {
  margin-right: 36px;
}

.navigation__list-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  letter-spacing: 0.35px;
}

.header__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 24px;
}

.header__subtitle {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin-bottom: 46px;
}

.header__btn {
  display: block;
  width: 176px;
  height: 46px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 2px;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  text-transform: uppercase;
}

/* SERVICES */
.services {
  padding-top: 98px;
  padding-bottom: 98px;
}

.sections__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 24px;
}

.sections__title::after {
  display: block;
  content: "";
  width: 50px;
  height: 2px;
  background-color: rgb(85, 85, 85);
  margin: 0 auto;
  margin-top: 26px;
}

.services__description {
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-bottom: 66px;
}

.services__list-item {
  width: 364px;
  text-align: center;
  float: left;
}

.services__list-item::before {
  display: block;
  content: "";
  width: 86px;
  height: 86px;
  border: 2px solid rgb(221, 221, 221);
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.services__list-item:first-child::before {
  background-image: url("../images/services/fa-font.png");
}

.services__list-item:nth-child(2)::before {
  background-image: url("../images/services/fa-code.png");
}

.services__list-item:last-child::before {
  background-image: url("../images/services/fa-support.png");
}

.services__list-item:not(:last-child) {
  margin-right: 24px;
}

.services__list-item-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.services__list-item-description {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

/* ABOUT */
.about {
  padding-top: 98px;
  padding-bottom: 98px;
  background-color: rgb(248, 248, 248);
}

.about__description-wrapper {
  margin-bottom: 70px;
}

.about__description {
  font-family: var(--secondary-font);
  font-size: 14px;
  line-height: 24px;
  width: 556px;
}

.about__description:first-child {
  float: left;
}

.about__description:last-child {
  float: right;
}

.about__list-item {
  float: left;
  text-align: center;
}

.about__list-item:hover .overlay {
  opacity: 1;
  visibility: visible;
}

.about__list-item:not(:last-child) {
  margin-right: 29.3px;
}

.about__list-img {
  margin-bottom: 16px;
}

.about__list-name {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.about__list-position {
  font-family: var(--secondary-font);
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.overlay {
  background-color: rgba(85, 85, 85, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  border: 10px solid rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
}

.about__list-img-wrapper {
  position: relative;
}

.overlay__list {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 32px;
}

.overlay__list-item {
  float: left;
}

.overlay__list-link {
  display: block;
  width: 28px;
  height: 28px;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay__list-link:hover {
  background-color: rgb(192, 48, 28);
}

.facebook {
  background-image: url("../images/about/facebook.png");
}

.twitter {
  background-image: url("../images/about/twitter.png");
}

.google-plus {
  background-image: url("../images/about/google-plus.png");
}

.linkedin {
  background-image: url("../images/about/linkedin.png");
}

.about__slider-wrapper {
  position: relative;
}

.slider__btn-wrapper {
  position: absolute;
  width: 100%;
  top: 106px;
}

.slider__btn {
  border: none;
  width: 35px;
  height: 38px;
  background-color: rgb(192, 48, 28);
  background-position: center;
  background-repeat: no-repeat;
}

.prev {
  float: left;
  background-image: url("../images/about/prev-btn.png");
}

.next {
  float: right;
  background-image: url("../images/about/next-btn.png");
}

.slider__btn-inactive {
  background-color: #8f8f8f;
}

/* WORKS */
.works {
  padding: 98px 0;
}

.tabs-list {
  width: 420px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.tabs-list__item {
  float: left;
}

.tabs-list__item:not(:last-child) {
  margin-right: 28px;
}

.tabs-list__btn {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  line-height: 24px;
  border: none;
  background-color: transparent;
}

.tabs-list__btn-active {
  color: rgb(192, 48, 28);
}

.works__list-item {
  float: left;
  position: relative;
}

.works__list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.works__list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.works__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(192, 48, 28, 0.7);
  opacity: 0;
  visibility: hidden;
}

.works__list-item:hover .works__overlay {
  opacity: 1;
  visibility: visible;
}

.works__overlay-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.works__overlay-description {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
}

.works__overlay-category {
  font-family: "Roboto Slab", serif;
  font-size: 12px;
  line-height: 24px;
  color: #fff;
}

.works__overlay-btn {
  background-color: rgb(255, 255, 255);
  border: none;
  width: 100px;
  height: 38px;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  line-height: 24px;
  color: rgb(192, 48, 28);
  text-transform: uppercase;
  text-align: left;
  padding-left: 20px;
  cursor: pointer;

  background-image: url("../images/works/arrow.png");
  background-repeat: no-repeat;
  background-position: right 20px center;
}
